body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1572px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1572px;
}
#u127 {
  position:absolute;
  left:2px;
  top:778px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:157px;
  top:174px;
  width:196px;
  height:45px;
}
#u129 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:540px;
  top:175px;
  width:196px;
  height:45px;
}
#u131 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u132 {
  position:absolute;
  left:1004px;
  top:175px;
  width:196px;
  height:45px;
}
#u133 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:352px;
  top:175px;
  width:196px;
  height:45px;
}
#u135 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:172px;
  top:112px;
  width:196px;
  height:45px;
}
#u137 {
  position:absolute;
  left:2px;
  top:14px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:157px;
  top:25px;
  width:369px;
  height:62px;
}
#u139 {
  position:absolute;
  left:2px;
  top:23px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  position:absolute;
  left:248px;
  top:605px;
  width:105px;
  height:89px;
}
#u141 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:1004px;
  top:605px;
  width:105px;
  height:89px;
}
#u143 {
  position:absolute;
  left:2px;
  top:36px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:438px;
}
#u144 {
  position:absolute;
  left:292px;
  top:402px;
  width:712px;
  height:438px;
}
#u145 {
  position:absolute;
  left:2px;
  top:211px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
