body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1743px;
}
#u12 {
  position:absolute;
  left:0px;
  top:-280px;
  width:1366px;
  height:1743px;
}
#u13 {
  position:absolute;
  left:2px;
  top:864px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:638px;
  top:1180px;
  width:239px;
  height:53px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
